
@font-face {
    font-family: JMHTypewriter;
    src: url('JMH Typewriter.ttf');
    
}

* {
    font-family: JMHTypewriter;
    font-size:large;
}

.sign_up{
    text-align: center;
    justify-content: center;
}

input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;

}

input[type=date]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    cursor: pointer;
}

.image img[alt|="logo"]{
    max-height : 200px;
    max-width : 300px;
}

.image img[id|="profile_picture"]{
    height : 200px;
    width : 200px;
    object-fit: cover;
}

.stars {
    font-size: larger;
    color: rgb(239, 198, 14);
    user-select: none;
}

.button input[name^="sign-up"]{
    background-color: #8e9303;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 98%;
    opacity: 0.9;
}

a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}

.container