@font-face {
    font-family: JMHTypewriter;
    src: url('JMH Typewriter.ttf');
    
}

* {
    font-family: JMHTypewriter;
    font-size:large;
}

.header {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.header div {
    width: 33%;
}

.header_title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.header_buttons {
    text-align: right;
}



input[type=text], input[type=password], input[type=email], input[type=date], textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
}

input[type=search]{
    width: 70%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
}
input[type=file]{
    padding: 10px;
    margin: 5px 0 22px 0;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
}
input[type=submit], input[type=number]{
    padding: 5px;
    margin: 5px 5px 10px 5px;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
}
select {
    padding: 0.5%;
    margin: 5px 0 22px 0;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
}

input[type=date]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
    cursor: pointer;
}

.image img[alt|="logo"]{
    max-height : 200px;
    max-width : 300px;
}

.image img[id|="profile_picture"]{
    height : 250px;
    width : 250px;
    object-fit: cover;
    border:solid;
    border-color: black;
    border-width: 1px;
}

.stars {
    font-size: larger;
    color: rgb(239, 198, 14);
    user-select: none;
}

button {
    padding: 5px;
    margin: 5px 5px 10px 5px;
    border-style: solid;
    border-color: #000000;
    background: #ffffff;
}

a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}

.new_comment {
    width: 50%;
    resize: vertical;
    min-height: 5em;
    max-height: 10em;
}

.comment {
    padding-bottom: 50px;
    display: block;
    width: 100%;
    word-wrap: break-word;
}

.BeerSearchResults {
    width: 30%;
    box-sizing: border-box;
    margin: 30px auto ;
    padding: 50px;
    border-radius: 5px;
    background-color:  #e8e8e8;
    display: block;
    word-wrap: break-word;
}

.sign{
    width: 30%;
    margin: 30px auto ;
    padding: 50px 0px;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #e8e8e8;
}

table{
    margin:  auto auto;
}

button{

}

hr{
    color:grey;
}

.new_bio {
    resize: vertical;
    min-height: 5em;
    max-height: 10em;
}

.profile{
    text-align:center;
}

